<div>
    <app-header></app-header>
</div>

<div class="form">
    <mat-card class="mat-card">
        <mat-card-content class="mat-card-content">
            <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-field">
                    <mat-form-field class="mat-form-field" appearance="fill">
                        <input matInput placeholder="Add new..." class="mat-input" name="todo" 
                        formControlName="todo">
                        <div class="left-align" matTextSuffix>
                            <!-- <mat-icon matTextSuffix>calendar_today</mat-icon> -->
                            <div class="form-field add-todo" matTextSuffix>
                                <button  mat-raised-button color="primary" class="add-todo__btn">Add</button>
                            </div>
                        </div>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <div class="todo-list">
        <div class="todo-list__total">
            <h3 *ngIf="totalTodo.length == 0">Add Your Tasks</h3>
            <h3 *ngIf="totalTodo.length == 1">New Task</h3>
            <h3 *ngIf="totalTodo.length >= 2">New Tasks</h3>
            <ng-container *ngFor="let item of totalTodo">
                <div class="todo-list__data" >
                    <mat-checkbox (change)="completeTodo($event,item)" class="mat-checkbox"></mat-checkbox>
                    <span class="task">{{ item.title  }}</span>
                    <button  mat-icon-button (click)="editTodo(item)">
                        <mat-icon mat-button class="edit-icon">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteTodo(item)">
                        <mat-icon class="delete-icon">delete_outline</mat-icon>
                    </button>
                </div>
            </ng-container>
        </div>
        <div class="todo-list__completed" *ngIf="completedTodo.length >= 1">
            <h3 >Completed Tasks</h3>
            <ng-container *ngFor="let item of completedTodo">
                <div class="todo-list__data" >
                    <span class="task">{{ item.title }}</span>
                    <button mat-icon-button (click)="deleteTodo(item)">
                        <mat-icon class="delete-icon">delete_outline</mat-icon>
                    </button>
                </div>
            </ng-container>
        </div>
    </div>

</div>
