<div class="form">
    <mat-card class="mat-card">
        <mat-card-content class="mat-card-content">
            <form class="form-container">
                <div  class="form-header form-field">
                    <h3 class="header">Forgot Password</h3>
                </div>
                <div class="form-field">
                    <mat-form-field class="mat-form-field">
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter your email" class="mat-input">
                    </mat-form-field>
                </div>
                <div class="form-field signup-btn">
                    <button mat-raised-button color="primary" class="signup-btn__btn" routerLink="/signin">Send Link</button>
                </div>
                <div class="signin-or-signup">
                    <div class="signin-or-signup__text">
                        <span>OR</span>
                    </div>
                    <hr>
                </div>
                <div class="already-user">
                    <span class="already-user__link" routerLink="/signup">Go Back</span>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>