<div class="form">
    <mat-card class="mat-card">
        <mat-card-content class="mat-card-content">
            <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div  class="form-header form-field">
                    <h3 class="header">Login</h3>
                </div>
                <div class="form-field">
                    <mat-form-field class="mat-form-field">
                        <mat-icon matPrefix>email</mat-icon>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Enter your email" class="mat-input"  name="email" formControlName="email">
                        <mat-error class="mat-error" *ngIf="email.errors?.['required']">The email is mandatory.</mat-error>
                        <mat-error class="mat-error" *ngIf="email.errors?.['email']">Please enter valid email.</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field">
                    <mat-form-field class="mat-form-field">
                        <mat-icon matPrefix> vpn_key</mat-icon>
                        <mat-icon class="cursor" matSuffix (click)="showPassword = !showPassword">{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                        <mat-label>Password</mat-label>
                        <input [type]="showPassword ? 'text' : 'password'" matInput placeholder="Enter your password" name="password" formControlName="password">
                        <mat-error class="mat-error" *ngIf="password.errors?.['required']">The password is mandatory.</mat-error>
                    </mat-form-field>

                    <ng-container *ngIf="password.errors | onlyOneError:['minlength','passwordStrength'] as error">
                        <mat-error class="field-message" *ngIf="error.passwordStrength">
                            Your password must have lower case, upper case and numeric characters.
                        </mat-error>
                    </ng-container>

                </div>
                <div class="form-field signup-btn">
                    <button mat-raised-button color="primary" class="signup-btn__btn" >Login</button>
                </div>
                <div class="forget-password">
                     <a class="forget-password__text" routerLink="/forgot-password">Forgot password</a>
                </div>

                <div class="signin-or-signup">
                    <div class="signin-or-signup__text">
                        <span>OR</span>
                    </div>
                    <hr>
                </div>
                <div class="already-user">
                    <span class="already-user__text">Need an account ?</span>
                    <span class="already-user__link" routerLink="/signup">Sign Up</span>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>